<ion-header>
  <ion-toolbar>
    <ion-title>
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-list>
    <ion-item *ngFor="let character of characters" (click)="onClickCharacter(character)">
      <ion-avatar class="ion-margin-right">
        <img [src]="character?.image">
      </ion-avatar>
      <ion-label>
        <h3>{{character?.name}}</h3>
        <p>{{character?.species}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="align-horizontal">
    <ion-button class="width-50" *ngIf="hasPreviousPage()" (click)="onClickPreviousPage()" expand="full">Previous</ion-button>
    <ion-button style="float: right;" class="width-50" *ngIf="hasNextPage()" (click)="onClickNextPage()" expand="full">Next</ion-button>
  </div>

</ion-content>
